<h3> View Employee Details</h3>
<div>
    <div>
        <label> <b> Id: </b></label> {{employee.id}}
    </div>
    <div>
        <label> <b> Name: </b></label> {{employee.name}}
    </div>
    <div>
        <label> <b> Age: </b></label> {{employee.age}}
    </div>
</div>