<div class="col-md-6 offset-md-3">
    <h3> Update Employee </h3>
    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label> Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="employee.name" name="name">
        </div>

        <div class="form-group">
            <label> Age </label>
            <input type="text" class="form-control" id="age" [(ngModel)]="employee.age" name="age">
        </div>

        <button class="btn btn-success" type="submit">Submit</button>

    </form>
</div>