<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a *ngIf="loginService.isUserLoggedIn()" routerLink="employees" routerLinkActive="active"
        class="nav-link">Employee List</a>
    </li>
    <li class="nav-item">
      <a *ngIf="loginService.isUserLoggedIn()" routerLink="create-employee" routerLinkActive="active"
        class="nav-link">Add Employee</a>
    </li>
    <li class="nav-item">
      <a *ngIf="!loginService.isUserLoggedIn()" routerLink="login" routerLinkActive="active" class="nav-link">login</a>
    </li>
    <li class="nav-item">
      <a *ngIf="loginService.isUserLoggedIn()" routerLink="logout" routerLinkActive="active" class="nav-link">logout</a>
    </li>
  </ul>
</nav>

<div class="text-center">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <span>All Rights Reserved 2021 @HCL training</span>
  </div>
</footer>